<html>
	<head>
		<Title>David's Summer Project Blog</Title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"> 
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	</head>
	<body>
		<div class="header">David's Summer Project Blog - <a href="/cv">Link To CV Website</a></div>
		{% block content %}

		{% endblock %}
	</body>
</html>
