<html>
	<head>
		<Title>Online CV</Title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/cv.css' %}">
	</head>
	<body>
		<div class="ImageContainer">
			<div class="LColumn">
			<div class="TopLcontainer">
				<img  class="TopL" src="{% static 'images/Academic.png' %}", alt="Personal Statement", width="300", height="300">
				<div class="TL-overlay">
    				<div class="TL-text">Personal Statement</div>
  				</div>
			</div>
			<div class ="BotLcontainer">
				<img class="BotL" src="{% static 'images/Academic.png' %}", alt="Academic History", width="300", height="300">
				<div class="BL-overlay">
					<div class="BL-text">Academic History</div>
				</div>
			</div>
			</div>
			<div class="RColumn">
				<div class="TopRcontainer">
					<img class="TopR" src="{% static 'images/Academic.png' %}", alt="Academic History", width="300", height="300">
					<div class="TR-overlay">
						<div class="TR-text">Work History</div>
					</div>
				</div>
				<div class = "BotRcontainer">
					<img class="BotR" src="{% static 'images/Academic.png' %}", alt="Academic History", width="300", height="300">
					<div class="BR-overlay">
						<div class="BR-text">Personal Achievements</div>
					</div>
				</div>
			
			</div>
		</div>
	</body>
</html>
