.WorkTitle{
	width:110%;
	background:#f7be57;
	font-size:30px;
	font-family: "Times New Roman", Times, serif;
	cursor:default;
}
.Back{
	width:5%;
	background:#e8ac3f;
	cursor:pointer;
	text-align:center;
	border:black;
	margin-right:20px;
	padding-top:10px;
	transition:0.5s ease;
}
.Back:hover{
	background:#f2b441;
}