<html>
	<head>
		<title>Academic History</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/acad.css' %}">
	</head>
	<body>
		<div class = "Main">
			<div class="Head" style="display:flex;	background:#d395f5;">
				<div class="Back" onclick="goBack()">Back</div>
				<div class="FormerTitle">List of former Academic Placements</div>
			</div>
			<div class="hist">
				<ul>
					<li>Completed primary school education at St. Dunstan’s Catholic School in 2011</li>
					<li>Completed GCSE Education at Bishop Challoner Catholic College in 2016</li>
					<li>Completed A-Level Education at Bishop Challoner 6th Form in 2018</li>
				</ul>
			</div>
			<div class="New Section"><a href="education_edit.html">New Education Achievement</a></div>
			<button type="button" class="collapsible">GCSE</button>
			<div class="gcsecontent">
				<h2 style="font-size:25px;">Grade A*</h2>
				<ul>
					<li> First Language English Opt. BS</li>
					<li> English Literature</li>
					<li> Mathematics A (Linear) Higher option</li>
					<li> Further Mathematics</li>
					<li> Physics</li>
				</ul>
				<h2 style="font-size:25px;">Grade A</h2>
				<ul>
					<li> Biology</li>
					<li> Chemistry</li>
					<li> Computing</li>
					<li> Geography</li>
					<li> Religious Studies</li>
				</ul>
				<h2 style="font-size:25px;">Grade C</h2>
				<ul>
					<li> French</li>
				</ul>
			</div>
			<button type="button" class="collapsible">AS-Level</button>
			<div class="aslevelcontent">
				<ul>
					<li> Mathematics - OCR - A</li>
					<li> Further Mathematics - OCR - A</li>					
					<li> Physics - Edexcel - A</li>
					<li> Chemistry - Edexcel - A</li>					
				</ul>
			</div>
			<button type="button" class="collapsible">A-Level</button>
			<div class="alevelcontent">
				<ul>
					<li> Mathematics - OCR - A*</li>
					<li> Further Mathematics - OCR - A</li>
					<li> Physics - Edexcel - A</li>
					<li> Chemistry - Edexcel - B</li>					
				</ul>
			</div>
			<button type="button" class="collapsible">Further Education</button>
			<div class="furthercontent">
				{% block content %}
				<ul>
				{% for education in educations %}
						<li>{{education.text}}</li>
				{% endfor %}
				</ul>
				{% endblock %}
			</div>
		</div>
		
	</body>
	<script>
	function goBack(){
		window.history.back();
	}
	var btns = document.getElementsByClassName("collapsible");
	var i;
	for(i=0;i<btns.length;i++){
		btns[i].addEventListener("click", function() {
			var item = this.nextElementSibling;
			if(item.style.display==="block"){
				item.style.display="none";
			}
			else{
				item.style.display="block";
			}
		})
	}
	</script>
</html>