<html>
<head>
	<title>Personal Achievement</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/achieve.css' %}">
</head>
<body>
	<div class="Head" style="display:flex;	background:#32edab;">
		<div class="Back" onclick="goBack()">Back</div>
		<div class="AchieveTitle">Personal Achievements</div>
	</div>
	<div class="Content">
	<div class="NewSection"><a href="personal_edit.html">New Personal Achievement</a></div>
	<h2> Extra-Curricular Activities </h2>
	<ul style="width:50%;">
		<li>I was a member of the Scout organisation since I was 7 years old, and completed all levels up to and including Explorers in 2018. During my time there, I earned various awards for orienteering, science experiments and camping experiences.</li>
		<li>During the summer of 2016, I participated in and completed my National Citizen Service.</li>
	</ul>
	<h2> School Awards from Bishop Challoner Catholic College</h2>
	<ul>
		<li>July 2015 - Outstanding Achievement in the Subject of Computing</li>
		<li>July 2015 - Outstanding Achievement in the Subject of STEM</li>
		<li>June 2015 - Newton Physics Day</li>
		<li>July 2014 - Outstanding Achievement in the Subject of STEM</li>
		<li>July 2014 - Outstanding Achievement in the Subject of Technology (Food Technology)</li>
		<li>July 2014 - Outstanding Achievement in the Subject of Drama</li>
		<li>July 2013 - Outstanding Achievement in the Subject of STEM</li>
		<li>July 2013 - Outstanding Achievement</li>
	</ul>
	<div id="further" style="display:block;">
	{% block content %}
		<h2> Further Personal Achievements </h2>
			<ul>
				{% for achievement in personals %}
						<li>{{achievement.text}}</li>
				{% endfor %}
			</ul>
		{% endblock %}
	</div>
</div>
</body>
<script>
	function goBack(){
		window.history.back();
	}
</script>
</html>