<html>
<head>
	<title>Personal Achievement</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/achieve.css' %}">
</head>
<body>
	<div class="Head" style="display:flex;	background:#32edab;">
		<div class="Back" onclick="goBack()">Back</div>
		<div class="AchieveTitle">Personal Achievements</div>
	</div>
	<ul>
		<li>I was a member of the Scout organisation since I was 7 years old, and completed all levels up to and including Explorers in 2018.</li>
		<li>During the summer of 2016, I participated in and completed my National Citizen Service.</li>
	</ul>
	<h2> School Awards</h2>
	<ul>
		<li>July 2015 - Outstanding Achievement in the Subject of Computing</li>
		<li>July 2015 - Outstanding Achievement in the Subject of STEM</li>
		<li>July 2014 - Outstanding Achievement in the Subject of STEM</li>
		<li>July 2014 - Outstanding Achievement in the Subject of Technology (Food Technology)</li>
		<li>July 2014 - Outstanding Achievement in the Subject of Drama</li>
		<li>July 2013 - Outstanding Achievement in the Subject of STEM</li>
		<li>July 2013 - Outstanding Achievement</li>
	</ul>
</body>
<script>
	function goBack(){
		window.history.back();
	}
</script>
</html>