<html>
	<head>
		<title>Personal Statement</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		{% load static %}
			<link rel="stylesheet" href="{% static 'css/pers.css' %}">
	</head>
	<body onload="reSizeTop()">
		<div class = "Header"> 
			<div class="Back" onclick="goBack()">Back</div>
			<p class="title" style="margin-right:auto; margin-left:calc(44% - (12px + 5%)); cursor:default;font-size:21px;">Personal Statement</p>
		</div>
		<div class="Text">I have wanted to work in the field of Technology and Computer Science since starting a GCSE in Computer Science at Bishop Challoner Catholic College. I discovered a hidden talent for coding and software development right at the start of the course, receiving an introduction to coding in Python, which I quickly grew to appreciate and study outside of lessons, developing programs and projects for my own enjoyment. From this point onwards, I knew I wanted to work in the field of computer science. I continued with my studies at Bishop Challoner, while also considering where to go to further my understanding; I chose the University of Birmingham’s Computer Science course, specifically a degree apprenticeship with Vodafone UK, because it allowed me to pursue my interests and obtain valuable work experience at the same time.<br><br>

		I have completed the first 2 years of the course, where I have developed my understanding of other programming languages, such as Java, C and Haskell. Furthermore, through the modules, I have furthered my understanding of Artificial Intelligence, Functional programming and the fundamentals of software design. I also have a basic understanding of the aspects of business management from my Business Organisation and Management module, alongside an introduction to Financial Analysis – these skills I hope to develop further in my industrial year at Vodafone UK.<br><br>

		Before my time at the university, I developed my social interaction and team working skills by being part of the Scouting organisation, graduating through each level of scouting and making my way up to Explorers. Furthermore, I gained a more work-focused approach to teamwork during my team projects at the University, such as Artificial Intelligence, where we developed code that would navigate a small robot around a course, or Software Engineering, where we designed the outline and structure of an application to help the mental health of students.<br><br>

		Ideally I would see my future as being in a software development role in an organisation, working on larger external projects, whilst developing my software skill set.</div>
	</body>
	<script>
		function goBack(){
			window.location.assign("/cv")
		}
</script>
</html>