<html>
<head>
	<title>Work History</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/work.css' %}">
</head>
<body>
	<div class="Head" style="display:flex;	background:#f7be57;">
		<div class="Back" onclick="goBack()">Back</div>
		<div class="WorkTitle">Work History</div>
	</div>
	<div class="content">
	<h2>Work Experience Placements</h2>
	<ul style="width:50%">
		<li>In 2016, I undertook work experience in my school inside the Laptop Repair area, where we repaired laptops and computers for the students, updating the software and diagnosing and fixing hardware problems.</li>
		<li>In 2017, I was on a work experience placement at Aristi, a Cybersecurity company in Longbridge, Birmingham. There, I learnt the basics of cybersecurity and how it applied to businesses in the real world, while also becoming involved in administrative work organising and reformatting timesheets for the company.</li>
		<li>During the summer of 2019, I began a placement in Vodafone Newbury, where I worked inside the Automation and Analytics team. There, I began to understand the process of Agile development cycles, as well as develop several data entry forms for both clients and the internal teams</li>
	</ul>
	<h2>Paid Work</h2>
	<ul>
		<li>During my AS/A level years at Bishop Challoner, I took on paid work at the Laptop Repair area</li>
		<li>During the summer of 2018, I worked for a local Go-Kart company</li>
	</ul>
</div>
</body>
<script>
	function goBack(){
		window.history.back();
	}
</script>
</html>